body {color:black;background-color: lightgray;margin: 0;
    padding: 0;}

.intro{background-color:lawngreen;  
		text-align: center;color:white; 
		 padding-bottom: 50px;padding-top: 10px}
h1{color:white;font-family:serif; }
.dropdown{
	position:relative;
	background-color: 
	darkblue;font-family: serif; 
	padding-bottom: 0px;
	text-align: center;
	color:lightgoldenrodyellow;
}
.dropdown-content{
	display:none;
	position:absolute;
	background-color:#f0f8ff;
	min-width:130px;
	b box-shadow: 0 6px 12px rgba(0,0,0,0.3);
	padding:8px 12px;
	border-radius: 5px;
	cursor: pointer; 
	border: 1px solid #888;
	align-items: center;

}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown ul {
    list-style: none;  
    margin: 0;
    padding: 0;
    display:flex;
    gap:20px;
    top:100%;left:50%;width:100%;
}
ul.navbar{
	list-style:none;
	margin:0;
	padding:0;
	justify-content:space-around;
	background-color:darkblue;
	display: flex;
	align-items: center;
}
.content{
	padding-bottom: 100px;
	margin:0;

}
ul.navbar li {
    position: relative;
    padding: 15px 10px;
    cursor: pointer;
    text-align: center;
}
.dropdown-content select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #888;
    background-color: #f0f8ff;
    font-family: serif;
    cursor: pointer;
    width: 100%
    @media all {
    body {
        font-family: Arial, sans-serif;
        color: black;
        background-color: white;
    }
    	  .intro {
        padding: 50px 0;
    }

    ul.navbar li {
        padding: 15px 10px;
    }
}
@media print {
    body {
        color: black;
        background-color: white;
        font-size: 12pt;
    }

    .intro, .content {
        padding: 20px 0;
    }
     .dropdown, ul.navbar, .dropdown-content {
        display: none;
        a {
        color: black;
        text-decoration: underline;