body{ 
	background:lightblue;
	margin:0;
	font-family:Arial,sans-serif;
	 }
.main-container{
	width:1000px;
	margin:40px auto;
	background:White;
	display:flex;
	border-radius:10px;
	box-shadow:0 3px 12px rgba(0,0,0,0.15);
}
	.left-panel{
		width:30%;
		background:white;
		color:black;
		border-radius:10px 0 0 10px;
		padding-bottom:20px;
		display:flex;
		flex-direction:column;
	}
.photo-panel img{
	width:100%;
	height:300px;
	border-radius:10px 0 0 0;
	

}

.text-content{
	display:flex;
	flex-direction:column;
	padding:20px;
}
.text-content h3{
	 margin-top: 25px;
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}

}
.nccu-logo{
	margin-top:auto;
	text-align:center;
	padding-top:20px;
	background-color: blue;
}
.nccu-logo img{
	width:250px
	
}
.name{
	margin:5px 0 0;
	font-size:22px;
	font-weight:bold;
}
.title{
	margin:0;
	font-size:14px;
	margin-bottom:20px;
	opacity:0.9;
}
.text-content p {
    font-size: 14px;
    line-height: 1.4;
}
	.right-panel{
		width:70%;
		padding:25px 35px;
		background-color: lightyellow;}
	.section-title {
    font-size:22px;
    padding-bottom:5px;
    border-bottom:2px solid #444;
    margin-bottom:10px;
}
	.skill-tags span{
		display:inline-block;
		background:lightgreen;
		padding:5px 12px;
		border-radius:12px;
		margin-right:8px;
		font-size:14px;
	}
	.homework-lab{
		display:flex;
		gap:20px;
	}
	.box{
		flex:1;
		background:lightblue;
		padding:15px;
		border-radius:10px;
	}
	.box h3{
		margin-top:0;
		border-bottom:1px solid;
		padding-bottom:5px;
		font-size:17px;
	}
	.box ul{
		padding-left:20px;
	}
	.box ul li {
    margin-bottom: 8px;
}
	.box a {
		 color: #004da6;
    text-decoration: none;
    font-size: 14px;
	}
	.box a:hover {
    text-decoration: underline;
}

	.music-icons {
    display: flex;
    gap: 135px;
    margin: 15px 0;
    justify-content:space-between;
}

.music-icons img {
    width: 60px;
    opacity:0.95;
}

.music-names {
     text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    display:flex;
    justify-content:space-between;
}
.music-description {
    font-size: 20px;
    color: #555;
    text-align:center;}